*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

/* tutto header */
header{
    background-color: rgb(239, 87, 32);
    height: 30px;
}

.header{
    width: 80%;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;

}

.logo{
    width: 10%;
    margin: auto;
}
ul li{
    display: inline-block;
    margin-right: 10px;
    list-style-type: none;
    
}

a{
    color: white;
    text-decoration: none;
}

.img-h{
    margin: 0 10px;
}

/* main e cards */
.main{
    justify-content: space-around;
}

.wrap{
    flex-wrap: wrap;
}

.orange{
    color: rgb(239, 87, 32);
    margin-right: 10px;
}

.card{
    flex-basis: calc(100%/3 - 5%);
    margin-top: 40px;
}

.line-t{
    text-decoration: line-through;
    color: gray;
}
.testo-c{
    flex-direction: column;
    justify-content: flex-start;
}

.prezzi{
    flex-direction: row;
}

.position-r{
    position: relative;
}

.position-a{
    position: absolute;
}

.overlay-h{
    top: 10px;
    right: 0px;
}

.overlay-s{
    bottom: 50px;
    left: 0;
}

.overlay-g{
    bottom: 50px;
    left: 55px;
}

.bianco{
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
}

.red{
    background-color: red;
    width: 50px;
    height: 20px;
    text-align: center; 
    color: white;
}

.green{
    background-color: green;
    height: 20px;
    color: white;
}

.grigio{
    color: gray;
}

/* finale con footer */

footer{
    background-color: black;
    height: 100px;
    color: white;
}

.footer{
    width: 80%;
    margin: auto;
    flex-direction: column;
    justify-content: flex-start;

}
.s-f{
    margin-top: 20px;
}
